.main {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 60px;
    background: #ff6c52;
    background: linear-gradient(0deg,rgba(255, 108, 82, 1) 0%, rgba(214, 156, 30, 1) 100%);
;
}

label {

    display: inline-block;
    margin: auto 10px;
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: bold;
}
body {
    background-color: #a3e9e0;
    color: #333;
    text-align: center;
    background-size: cover;
    background-image: url("./Backgroundimg.jpg");
}
.submit{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #170ddd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
